@charset "utf-8";

// 附近门店
$shop-header-bg: #f8f8f8;
$shop-header-height: 40px;

// 聊天头部
$chat-padding-around: 10px;
$chat-header-height: 60px;
$chat-header-padding: 2px;
$avatar-size: 40px;

// 聊天信息
$chat-content-bg: #efeff4;
// $chat-content-bg: #f00;
$msg-margin: 10px 0;
$msg-padding: 0 10px;
$msg-time-bg: #c5c5c5;
$msg-avatar-size: 40px;
$msg-me-bg: #9cd9ff;
$msg-guide-bg: #fff;
$msg-text-height: 40px;

// 聊天工具栏
$chat-input-height: 50px;
$chat-plus-height: 50px;
$chat-footer-bg: #f8f8f8;
$footer-input-border-color: #959595;
$btn-emotion-width: 30px;
$btn-send-width: 65px;
$input-margin: 8px;
$tool-height: 35px;

// 选择城市
$city-bg: #f5f5f5;
$city-border-color: #dcdcdc;
$city-item-width: 30%;
$city-item-height: 30px;

$emotion-size: 20px;
